.container {
    display: flex;
    align-items: center;
    background-color: #f8f9fb;
    padding: 20px 14px 20px 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}